body {
    background-color: #13265c;
}

h1 {
    color: hsl(180, 100%, 50%);
}

h2 {
    color: hsl(180, 100%, 50%);
    display: inline-flex;
    align-content: top;
    text-shadow: 5px hsl(0, 0%, 0%);
}

.text_box {
    background-color: hsl(0, 0%, 32%);
    color: antiquewhite;
    display: inline-flex;
    align-content: center;
    border-radius: 5px;
    border-style: ridge;
    border-color: black;
  
}






